
.NavMain button{
    position:absolute;
    top:24px;
    right:24px;
}


.NavMain a{
    display:flex;
    height:0;
    align-items: center;
    background-color:black;
    margin-bottom:1px;
    transition:height 0.4s, opacity 0.6s;
    overflow: hidden;
    opacity: 0;
    padding:0 24px;

}

.NavMainExpanded a{
    height:48px;
    opacity:1;
   
}

.NavMain [aria-current]{
    color:rgb(255, 0, 76);
}


@media screen and ( min-width:800px ){
    .NavMain a{ 
        height:48px !important;
        opacity:1;
    }

    .NavMain button{
        display:none;
    }

}




